In [24]:
import requests
import pandas as pd
print('requests version: ',requests.__version__)
print('pandas version: ',pd.__version__)

requests version:  2.14.2
pandas version:  0.20.1

In [25]:
def total_time(time):
    """
    Calculates total time as an integer value from output of APIRequest function.
    
    Parameters
    ----------
        
    time: str
        string of time from APIRequest

    Returns
    -------
    
    TotalTime : int
        Total time taken in minutes
    
    Examples
    --------
    '4 hours 8 mins' converts to 248
    '34 mins' converts to 34
    """
       
    if len([int(s) for s in time.split() if s.isdigit()])==1:
        HoursToMinutes = 0
        Minutes = [int(s) for s in time.split() if s.isdigit()][0]
    else:
        HoursToMinutes = [int(s) for s in time.split() if s.isdigit()][0]*60
        Minutes = [int(s) for s in time.split() if s.isdigit()][1]
    
    TotalTime = HoursToMinutes + Minutes
    
    return TotalTime

In [26]:
def APIrequest(Start,End,proxy):
    """
    returns the time taken between a start post code and end
    
    Parameters
    ----------
    Start: str
        string in standard UK postal code format of the intended starting location.
    
    End: str
        string in standard UK postal code format of the intended finishing location.
    
    proxy: boolean
        
    Returns
    -------
    
    time : str
        string of time taken if departing now.
    
    Future
    --------
    There needs to be error checking included in this, in case of:
        error connecting to google
        error regarding invalid post code
    
    Additional optional parameters allowed in google API. E.g. pessimistic/optimistic - or this can be returned as a range.
    
    """
    s = 'https://maps.googleapis.com/maps/api/directions/json?origin={}&destination={}&departure_time=now&key=AIzaSyCL0ukYOv3Z6IUDyIbhvv-YT2hapBEOIgk'.format(Start,End)
    
    if proxy:
        proxies={'https':'https://10.171.21.201:3129'}
    else:
        proxies={} 
        
    try:
        r = requests.get(s,proxies=proxies)
    except requests.exceptions.RequestException as e:
        print('Not connected to the internet. Please ensure proxy is correct and you are connected to WIFI/LAN')
    
    rjson = r.json()
        
    if r.status_code != 200:
        return '0'
    elif rjson['status']=='NOT_FOUND':
        return '0'
    else:
        time = rjson['routes'][0]['legs'][0]['duration_in_traffic']['text']
        return time

In [27]:
df = pd.read_csv('postcode.csv')

In [28]:
df

                       Patient    Postcode
0                         Home     L37 8RP
1            Buckingham Palace     W1A 1AA
2        Palace of Westminster    SW1A 0AA
3            Norfolk & Norwich     NR4 7TJ
4      Royal Cornwall Hospital     TR1 3LQ
5  Old Trafford Cricket Ground     M16 0PX
6                       Random  dfsjksdfsd

In [29]:
Start = 'WA7 1NT'

In [30]:
df['Time'] = df['Postcode'].apply(lambda x: APIrequest(Start,x,proxy=True))
df['TotalTime']=df['Time'].apply(lambda x: total_time(x))
df.sort_values('TotalTime',inplace=True)
df.drop(['TotalTime'],axis=1,inplace=True)
df['Time']=df['Time'].apply(lambda x: 'Error' if x == '0' else x)

In [31]:
df

                       Patient    Postcode             Time
6                       Random  dfsjksdfsd            Error
5  Old Trafford Cricket Ground     M16 0PX          32 mins
0                         Home     L37 8RP          35 mins
1            Buckingham Palace     W1A 1AA  3 hours 56 mins
2        Palace of Westminster    SW1A 0AA  4 hours 17 mins
3            Norfolk & Norwich     NR4 7TJ  4 hours 40 mins
4      Royal Cornwall Hospital     TR1 3LQ  5 hours 56 mins

In [32]:
df.to_csv('postcode_withtimes.csv')